@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --primary-text-color: #111111;
  --secondary-text-color: #ffffff;
  --headline-color: #393939;

  --first-font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--first-font-family);
}

.form {
  display: grid;
  grid-template-columns: 1.688em 1fr;
  height: 100%;
}

.form h2 {
  color: var(--headline-color);
  font-size: 2.9em;
  grid-column: 2 / 3;
  align-self: end;
  margin: 0;
}

.form__enterTask {
  border: none;
  border-bottom: 3px rgba(52, 45, 47, 0.38) solid;
  width: 100%;
  font-size: 2.9em;
  color: var(--primary-text-color);
  grid-column: 2 / 3;
  height: 2em;
  align-self: end;
  font-family: var(--first-font-family);
}

.form__enterTask::placeholder {
  color: rgba(57, 57, 57, 0.21);
}

.form__enterTask:focus-visible {
    outline: thin solid var(--primary-color);
    border: none;
}

.form h3 {
  grid-column: 2 / 3;
  text-transform: uppercase;
  font-size: 0.9em;
  align-self: end;
  letter-spacing: 0.2em;
}

.form .radiocontainer {
  grid-column: 2 / 3;
  color: var(--headline-color);
  background: rgba(212, 212, 212, 0.1);
  font-size: 0.9em;
  height: 5.3em;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.radiocontainer__label {
  align-self: center;
}

.radiocontainer__input:checked + .radiocontainer__text {
  color: var(--primary-color);
}

.radiocontainer__input {
  position: absolute;
  opacity: 0;
}

.radiocontainer__input:focus-visible + .radiocontainer__text {
  outline: thin solid;
}

.form__submit {
    grid-column: 1 / 3;
    text-align: center;
    background: var(--primary-color);
    color: var(--secondary-text-color);
    font-size: 1.3em;
    padding: 0;
    font-family: var(--first-font-family);
    border: none;
  }

  .form__submit:focus-visible {
    outline: thin solid var(--primary-color);
}

.tasks {
  display: grid;
  height: 100%;
  /* grid-template-columns: 4.5em 3fr 1fr; */
  /* grid-template-rows: 0.25fr 0.15fr 1fr; */
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr;
}

/*hide checkbox from burger-menu */
.nav-toggle {
  opacity: 0;
  position: absolute;
}

/* positioning burger-menu in grid*/
.nav-toggle-label{
  grid-column: 1 / 4;
  margin: 3em 2em 0 2em;
  /* justify-self: start; */
  /* border: none; */
  /* background: none; */
}

/* .nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100px;
  display: flex;
  align-items: center;
} */

/* burger lines */
.nav-toggle-label span,
.nav-toggle-label span::before{
  display: block;
  background: var(--primary-text-color);
  height: 0.3em;
  width: 2em;
  border-radius: 2em;
  position: relative;
}

.nav-toggle-label span::before{
  content: "";
  position: absolute;
  width: 1.5em;
  bottom: 0.6em;
}


/* .nav-toggle-label span::after {
  top: 7px;
} */

/* .tasks__burger {
  grid-column: 1 / 4;
  justify-self: start;
  border: none;
  background: none;
  margin: 2em;
  margin-top: 4em;
} */

.tasks__alert {
  display: flex;
  grid-column: 1 / 4;
  justify-content: space-between;
  align-items: center;
}

.tasks__alert h2 {
  font-size: 3em;
  margin: 0.4em 0.7em;
  letter-spacing: 0.05em;
}

.tasks__bell {
  border: none;
  background: none;
  padding-right: 2.5em;
  height: 5em;
}

.tasks .radiocontainer {
  display: flex;
  grid-column: 1 / 2;
  grid-row: span 3;
  padding: 0 2em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  justify-content: space-evenly;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.2);
}

.tasks .checkbox {
  display: grid;
  grid-column: 2 / 4 ;
  grid-row: 3/5;
  background-color: rgba(212, 212, 212, 0.1);
  padding: 3em 2em 6em 2em;
  row-gap: 1em;
  /* text-align:justify; */
}


.tasks__new-task {
  background: var(--primary-color);
  grid-column: 3/4;
  grid-row: 4/5;
  padding: 1.5em 2.5em;
  border-top-left-radius: 1em;
}

.checkbox__input:checked + .checkbox__text {
  text-decoration: line-through 2px var(--primary-color);
  /* position: relative;
  border-bottom: lawngreen 3px solid; */
}

/* line before and after line-through text */
/* .checkbox__input:checked + .checkbox__text::before {
  content: "";
  display: block;
  width: 2em;
  height: 2px;
  position: absolute;
  left: -2em;
  top: 0.6em;
  background: blue;
  background: var(--primary-color);
  z-index: 100;
} */

/* .checkbox__input:checked + .checkbox__text::after {
  content: "";
  display: block;
  width: 2em;
  height: 2px;
  position: absolute;
  right: -4em;
  top: 0.6em;
  background: blue;
  background: var(--primary-color);
  z-index: -100;
} */

/* .checkbox__input:checked + .checkbox__text::before {
  bottom: 7px;
} */

.checkbox__input {
  position: absolute;
  opacity: 0;
}



