@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #FE4775;
    --secondary-color: #161060;
    --primary-text-color: #111111;
    --secondary-text-color: #FFFFFF;
    --headline-color: #393939;

    --primary-font-family: "Montserrat", sans-serif;
    --secondary-font-family: "Roboto", sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

form {
    
}

.new {
    font-family: var(--primary-font-family);
    display: grid;
    grid-template: repeat(5, 1fr) / 2em auto;
}

.new h2 {
    color: var(--headline-color);
    font-size: 47px;
    grid-column: 2 / 3; 
}

.enterText {
    border: none;
    border-bottom: 3px rgba(52, 45, 47, 1) solid;
    font-size: 47px;
    grid-column: 2 / 3; 
}

.new h3 {
    grid-column: 2 / 3;
}

.new .radiocontainer {
    grid-column: 2 /3;
}

.new .addTask {
    grid-column: 1 / -1;
}



